<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>請登入</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form action="/login" name="loginfrom" class="form-signin" method="post">
			<img class="mb-4" th:src="@{/img/venice_gondolier.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">請登入</h1>
			<!-- <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p> -->
			<label class="sr-only">帳號：</label>
			<input  type="text" id="userAaccount" name="userAaccount" class="form-control" placeholder="帳號" required="" autofocus="">
			
			<label class="sr-only">密碼：</label>
			<input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="密碼" required="">
			
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me"> 記住我
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
				<div style = "color:red;" th:text="${loginErr}" th:if="${not #strings.isEmpty(loginErr)}"></div>
		</form>

	</body>

</html>